.navigation {
    background-color: #134e4a;
    color: #f7f7f7 !important;
    font-size: 1.6rem;
    padding: 1rem 2.4rem;
    &_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-comp1,
        &-comp2 {
            display: flex;
            gap: 2.4rem;
            justify-content: center;
            &-elm1,
            &-elm2 {
                display: flex;
                align-items: center;
                gap: 1rem;
                &:hover {
                    border-bottom: 3px solid #f7f7f7;
                    box-shadow: 0 1rem 2rem rgba(#000000, 0.4);
                }
            }
        }
    }
}

.logo {
    width: 12%;
}