svg {
    width: 15%;
    background-color: #00b894;
    border-radius: 50%;
    stroke: #eee;
}

.features-box {
    text-align: center;
    padding: 2.4rem;
    background-color: #eee;
    border-radius: 10px;
}